{include file='page_header.tpl'}
<div id="home" data-role="page" data-theme="{$smarty.const.JQM_DATA_THEME}">
	<div data-role="header" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<h1>ユーザ一覧<br />（ログイン中：{$sess_data.user_name}）</h1>
		<a href="{$smarty.server.SCRIPT_NAME}?{$append_param}" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-plus">新規追加</a>
	</div>
	<div class="ui-content" role="main" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<ul data-role="listview" data-inset="true" data-split-icon="delete">
{foreach name="res_loop" from=$res_data item=value}
			<li>
				<a href="#">
					<h2>ユーザ名：{$value.user_name}</h2>
				</a>
				<a href="{$smarty.server.SCRIPT_NAME}?{$value.delete_param}"></a>
			</li>
{/foreach}
		</ul>
		<a data-role="button" data-transition="slide" href="menu.php">戻る</a>
	</div>
	<div data-role="footer" data-theme="{$smarty.const.JQM_DATA_THEME}">
		{include file='page_copyright.tpl'}
	</div>
</div>
<div id="confirm_dialog" data-role="dialog" data-theme="{$smarty.const.JQM_DATA_THEME}">
	<div data-role="header" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<h1 id="confirm_dlog_title">確　認</h1>
	</div>
	<div class="ui-content" role="main" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<p id="confirm_dlog_content">{$confirm_msg|default:''}</p>
		<fieldset class="ui-grid-a">
			<div class="ui-block-a"><a href="{$smarty.server.SCRIPT_NAME}?{$confirm_param|default:''}" data-role="button">実　行</a></div>
			<div class="ui-block-b"><a href="{$smarty.server.SCRIPT_NAME}" data-role="button">キャンセル</a></div>
		</fieldset>
	</div>
</div>
<div id="input_dialog" data-role="dialog" data-theme="{$smarty.const.JQM_DATA_THEME}">
	<div data-role="header" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<h1 id="input_dlog_title">ユーザ登録</h1>
	</div>
	<div class="ui-content" role="main" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<p id="input_dlog_content">{$input_msg|default:''}</p>
		<form method="post" action="{$smarty.server.SCRIPT_NAME}?{$form_param}">
			<label for="user_name">ユーザ名</label>
			<input type="text" name="user_name" value="" />
			<label for="user_pass">パスワード：</label>
			<input type="password" name="user_pass" value="" />
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><input type="submit" value="登　録" /></div>
				<div class="ui-block-b"><a href="{$smarty.server.SCRIPT_NAME}" data-role="button">キャンセル</a></div>
			</fieldset>
		</form>
	</div>
</div>
<div id="inform_dialog" data-role="dialog" data-theme="{$smarty.const.JQM_DATA_THEME}">
	<div data-role="header" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<h1 id="info_dlog_title">結　果</h1>
	</div>
	<div class="ui-content" role="main" data-theme="{$smarty.const.JQM_DATA_THEME}">
		<p id="inform_dlog_content">{$inform_msg|default:''}</p>
		<a data-role="button" data-transition="slide" href="{$smarty.server.SCRIPT_NAME}">O K</a>
	</div>
</div>
<script type="text/javascript">
{literal}
window.onload = function() {
	if ($('#confirm_dlog_content').text() != "")
	{
		$.mobile.pageContainer.pagecontainer('change', '#confirm_dialog', {transition: 'pop'});
	}
	if ($('#input_dlog_content').text() != "")
	{
		$.mobile.pageContainer.pagecontainer('change', '#input_dialog', {transition: 'pop'});
	}
	if ($('#inform_dlog_content').text() != "")
	{
		$.mobile.pageContainer.pagecontainer('change', '#inform_dialog', {transition: 'pop'});
	}
	$('div.ui-page').removeClass('ui-dialog');
};
{/literal}
</script>
{include file='page_footer.tpl'}
